@model IEnumerable<EduEnginee.Areas.Admission.Models.Institute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Create","In"))
{ 
    @Html.Partial("__Create",Model)
} 


<div id="List">
     @Html.Partial("_List", Model);
</div id="List">
