@model IEnumerable<EduEnginee.Areas.Admission.Models.Institute>

@foreach (var item in Model)
{

    <tr data-pkey="@item.Id">
        <td>
                @Html.Action("_ShortDetails", "In", new { id = item.Id })    

            
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
          
        </td>         

    </tr>        


}
