@model EduEnginee.Areas.Admission.Models.Circular

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
						<div align="center">
                        <h3>Admission Circular</h3>
							
							<font style="font-size: 14px;">@Model.Title  , Session: @Model.Session</font>
						</div>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "ViewerCirIndex")
    </p>
}

