@model IEnumerable<EduEnginee.Areas.Admission.Models.Institute>
@{
    ViewBag.Title = "ResultAndSeatPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <h2>@Html.ActionLink(item.Title,"Details","In",new {id=item.Id},null)</h2>
    <div>
        @Html.Action("ResultSeatPlanLink", new { instituteId =item.Id})

    </div>

}
