@model IEnumerable<EduEnginee.Areas.Admission.Models.News>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td class="tdActionLink">
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a href= '@Url.Action("Edit", new { id = item.Id }) '>
                        <img src="../../Content/Edit.png"  /></a>
                </td>
                <td>
                    <a href='@Url.Action("Delete", new { id = item.Id }) '>
                        <img src="../../Content/Delete.png"  /></a>
                </td>
                
            }
        </tr>
    
    }
</table>

