@model IEnumerable<EduEnginee.Areas.Visa.Models.VisaProcedureSet>

@{
    ViewBag.Title = "_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_List</h2>


<table>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Partial("_Details",item)
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
