@model IEnumerable<EduEnginee.Areas.Visa.Models.CouncellingFirmSet>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
            </th>            
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a href= '@Url.Action("Edit", new { id = item.Id }) '>
                        <img src="../../Content/Edit.png" /></a>
                </td>
                <td>
                    <a href='@Url.Action("Delete", new { id = item.Id }) '>
                        <img src="../../Content/Delete.png" /></a>
                </td>
                
            }
        </tr>
    }
</table>
