@model EduEnginee.Areas.Visa.Models.CouncellingFirmSet
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>CouncellingFirmSet</legend>
    @Html.Partial("_ShortDetails",Model)
    
    @Html.Encode(Model.Description)
    
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
