@model EduEnginee.Models.QuestionDefinition

<fieldset>
    <legend>QuestionDefinition</legend>

    <b>Ques:@Model.QuestionText</b>
    <br />
    <br />
    1.@Model.Option1<br />
    2.@Model.Option2<br />
    3.@Model.Option3<br />
    4.@Model.Option4<br />
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Ajax.ActionLink("Delete", "Delete", new { id=Model.Id }, new AjaxOptions{UpdateTargetId="list"})
    
</p>
