@model IEnumerable<EduEnginee.Models.QuestionDefinition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div>
@Html.Action("_Create")
</div>







<div id="list">
    @Html.Partial("_Index")
</div>