@model IEnumerable<EduEnginee.Models.QuestionDefinition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



            @Html.Action("Create")






<div id="list">
    @Html.Partial("_Index",Model)
</div>