@model IEnumerable<EduEnginee.Models.QuestionDefinition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.Action("Create")
</p>*@



<div>
    @Html.Partial("_Index",Model)
</div>