@model EduEnginee.Models.QuestionDefinition

<div>
    <b>Ques:@Model.QuestionText</b>
    <br />
    <br />
    1.@Model.Option1<br />
    2.@Model.Option2<br />
    3.@Model.Option3<br />
    4.@Model.Option4<br />
</div>

