@model IEnumerable<EduEnginee.Models.QuestionDefinition>

@foreach (var item in Model) {
    <tr data-pkey="@item.Id">
        <td>
            @Html.Partial("_Details",item)
            
            
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>                 
            
        </td>



    </tr>
}
