@model IEnumerable<EduEnginee.Areas.Admission.Models.AdmissionType>

@foreach (var item in Model) {
    <tr data-pkey="@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
